<div class="row "style="background-color: #0d1244;"> 
  <nav class="navbar navbar-expand-sm navbar-light col-lg-12">
    <button class="navbar-toggler navbar-toggler-right mt-1 ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav mr-auto justify-content-center collapse navbar-collapse" id="navbarTogglerDemo01"  style="background-color: #0d1244;">
      <a class="nav-item nav-link" style="color: white;"href="#">HOME</a>
      <a class="nav-item nav-link" style="color: white;"href="#">NOSOTROS</a>
      <a class="nav-item nav-link" style="color: white;"href="#">PROYECTOS</a>
      <a class="nav-link nav-item" style="color: white;"href="#">SERVICIOS</a>
      <a class="nav-link nav-item" style="color: white;"href="#">NEWS</a>
      <a class="nav-link nav-item " style="color: white;"href="#">CONTACTO</a>
    </div>
  </nav>
</div>